# Ignore datasets and images
data/
*.jpg
*.jpeg
*.png
*.mp4

# Ignore trained model weights and training logs
models/
runs/
*.pt
*.onnx

# Python cache and environments
__pycache__/
*.pyc
.env
venv/aigenics_env/
aigenics_env/
